<div class="jumbotron">
    <h1><i class="fa fa-check-square-o"></i> Get S**t Done</h1>
    <p>This is my To Do app, made with Ruby on Rails</p>
    <% if current_user %>
        <%= link_to 'Open My Tasks', tasks_path, class: ' btn btn-primary btn-lg' %>
    <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: ' btn btn-primary btn-lg' %>
    <% end %>  
    
</div>